@using System.Security.Claims;
@{
    List<UploadedFile>? uploadedFiles = Model;

    if (uploadedFiles is not null)
    {
        uploadedFiles.Sort((file1, file2) => file2.UploadDate.CompareTo(file1.UploadDate));
    }

    string[] SizeSuffixes = { "bytes", "KB", "MB", "GB", "TB" };

    string ConvertBytesSizeToString(long value)
    {
        long i = 0;
        decimal dValue = (decimal)value;
        while (Math.Round(dValue, 1) >= 1000)
        {
            dValue /= 1024;
            i++;
        }

        return string.Format("{0:n" + 1 + "} {1}", dValue, SizeSuffixes[i]);
    }
}

<div class="container">
    <h3 class="display-4">Files</h3>

    <hr class="hr my-3" />

    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Select File:</label>
            <input type="file" name="file" id="file" class="form-control" required />
        </div>
        <hr class="hr my-3" />
        <div class="row">
            <div class="col-2">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Upload</button>
            </div>
        </div>
    </form>

    <hr class="hr my-3" />

    @if (uploadedFiles!.Count == 0)
    {
        <p>You haven't uploaded any file. It's good opportunity to upload first one :)</p>
    }

    else
    {
        <form method="post" asp-controller="Files" asp-action="DeleteFiles">
            @if (TempData["Role"] is not null)
            {
                if (TempData["Role"]!.Equals("admin"))
                {
                    <input name="admin" type="hidden" value="true" id="adminRoleInput">
                }
            }
            <div class="panel">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-1"></th>
                            <th class="col-5">Filename</th>
                            <th class="col-2"></th>
                            <th class="col-2">Upload time</th>
                            <th class="col-2">Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var file in uploadedFiles)
                        {
                            <tr class="paginate-show">
                                <td class="col-1">
                                    <input name="filesIds" class="form-check-input" type="checkbox" value="@file.Id" id="vacancyIdInput- + @file.Id">
                                </td>
                                <td class="col-5">
                                    <a asp-controller="Files" asp-action="GetFile" asp-route-id="@file.Id.ToString()">@file.OriginalFileName</a>
                                </td>
                                <td class="col-2">
                                    @if (TempData["Role"] is not null)
                                    {
                                        if (TempData["Role"]!.Equals("admin"))
                                        {
                                            @file.User!.Username;
                                        }
                                    }
                                </td>
                                <td class="col-2">
                                    @file.UploadDate.ToString()
                                </td>
                                <td class="col-1">
                                    @ConvertBytesSizeToString(file.FileSize)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-2">
                    <button class="w-100 btn btn-lg btn-danger" type="submit">Delete selected</button>
                </div>
            </div>
        </form>
    }
</div>
